/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font: "Roboto Mono";
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 93%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 5%;
    background-color: whitesmoke;
    border-radius: 14px;
    box-shadow: 0px 0px 15px -10px black;
}

form>div {
    width: 100%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>div.checkbox {
    flex-direction: row;
}

h2.title {
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
}

form div input {
    width: 100%;
    min-width: 300px;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px -10px black;
    padding: 1%;
}

form div input:focus {
    outline: none;
}

form div #keep {
    width: 10%;
    min-width:0;
}

form div button {
    width: 100%;
    border-radius: 40px;
    border: none;
    transition: all .2s ease-in-out;
    font-size: 1.05rem;
}

form div button:focus {
    outline: none;
}

form div button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btnBig {
    padding: 5%;
    background-color: darkslategray;
    color: antiquewhite;
}

.notBtn {
    background-color: transparent;
    border: none;
    width: 100%;
}

div.dataBox {
    margin: 5% 0 0 0;
    text-align: center;
    /* overflow-wrap: anywhere; */
}

.dissap {
    display:none;
}

div.dataBox p {
    line-height: 1.5;
}

/* -----------------ADMIN */

.adminWrapper {
    justify-content: start;
}

.adminWrapper header {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.adminWrapper header h2 {
    margin: 0 0 2% 0;
}
.adminWrapper>header>div {
    display: flex;
    align-items: center;
    width: 100%;
}

.adminWrapper>header>div>button { 
    margin: 1%;
    width: 49%;
    padding: 4%;
    border: none;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
}

.adminWrapper>header>div>button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.wrapperResult {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.wrapperResult h3 {
    margin: 2% 0 2% 0;
}

.wrapperResult h4 {
    margin: 2% 0 2% 0;
    text-align: center;
}

.wrapperResult button {
    margin: 1%;
    width: 23%;
    height: min-content;
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
}

.wrapperResult button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.wrapperResult input {
    margin: 2%;
    width: 100%;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px -10px black;
    padding: 1%;
}

.wrapperResult input:focus {
    outline: none;
}

.wrapperResult>div{
    margin: 2%;
    display:flex;
    align-items: center;
    justify-content: center;
}
