/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------GENERAL */
@font-face {
    font-family: "DK";
    src: url("../fonts/DkCrayonCrumble-ddll.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font: "Roboto Mono";
}

::selection {
    background-color: darkslategray;
    color: whitesmoke;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 93%;
    max-width: 500px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 5%;
    background-color: whitesmoke;
    border-radius: 14px;
    box-shadow: 0px 0px 15px -10px black;
}

form>div {
    width: 100%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>div.checkbox {
    flex-direction: row;
}

h2.title {
    font-size: 4.1rem;
    font-weight: bold;
    text-align: center;
    font-family: "DK";
    color: darkslategray;
}

form div input {
    width: 100%;
    min-width: 300px;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px -10px black;
    padding: 1%;
}

form div input:focus {
    outline: none;
}

form div #keep {
    width: 10%;
    min-width:0;
}

form div button {
    width: 100%;
    border-radius: 40px;
    border: none;
    transition: all .2s ease-in-out;
    font-size: 1.05rem;
}

form div button:focus {
    outline: none;
}

form div button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btnBig {
    padding: 5%;
    background-color: darkslategray;
    color: antiquewhite;
}

.notBtn {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 0.9rem;
    margin-top: -4%;
}

div.dataBox {
    margin: 5% 0 0 0;
    text-align: center;
    /* overflow-wrap: anywhere; */
}

.dissap {
    display:none;
}

div.dataBox p {
    line-height: 1.5;
}

/* --------------------------------ADMIN HEADER */

.adminWrapper {
    justify-content: start;
}

.adminWrapper header {
    background-color: darkslategray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.adminWrapper header h2 {
    margin: 0 0 2% 0;
    font-family: "DK";
    color: ivory;
    font-size: 3rem;
}

.adminWrapper>header>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminWrapper>header>div>button { 
    margin: 1%;
    width: 44%;
    max-width: 160px;
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: ivory;
    color: black;
}

.adminWrapper>header>div>button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* ---------------------------------ADMIN MAIN */

.wrapperResult {
    width: 100%;
    max-width: 968px;
    display: flex;
    flex-direction: column;
}

.wrapperResult>div{
    margin: 2%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapperResult .questBox {
    flex-direction: column;
}

.wrapperResult>div>div{
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapperResult h3 {
    margin: 2% 0 2% 0;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

.wrapperResult h4 {
    margin: 2% 0 4% 0;
    text-align: center;
    font-weight: bold;
}

.wrapperResult h5 {
    text-align: center;
    margin: 2% 0 2% 0;
    font-size: 0.8rem;
}

.wrapperResult button {
    margin: 1%;
    width: 25%;
    max-width: 100px;
    height: min-content;
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
    font-size: 0.8rem;
}

.wrapperResult button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.wrapperResult input {
    margin: 2% auto;
    width: 95%;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px -10px black;
    padding: 1%;
}

.wrapperResult input:focus {
    outline: none;
}

.wrapperResult select {
    margin: 1% 3%;
    border-radius: 10px;
}

.wrapperResult select option{
    border-radius: 10px;
}

/* ------------------------------------------------------------MEDIA QUERIES */

@media screen and (min-width: 480px) {
    .wrapperResult h3 {
        font-size: 1rem;
    }

    .wrapperResult button {
        font-size: 1rem;
    }

}

@media screen and (min-width: 600px) {
    .adminWrapper header {
        padding: 1%;
    }
    
    .adminWrapper header h2 {
        margin: 1% 0 1% 0;
        font-size: 4rem;
    }
    
    .adminWrapper>header>div>button { 
        padding: 1%;
    }

    .wrapperResult {
        padding: 2%;
    }

    .wrapperResult .questBox {
        flex-direction: row;
    }

    .wrapperResult>div>div{
        flex-direction: column;
        width: 20%;
    }

    .wrapperResult button { 
        padding: 1%;
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    .wrapperResult h3 {
        font-size: 1.3rem;
    }

    .wrapperResult h4 {
        margin: 0 0 2% 0;
    }
}